body {

    background-color: #DEF2F1;
 }
 .form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
  }
p {
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
}
#refactorimagecontent
{
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
}

header {
    color:black;
    text-align: center;
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
}

h1 {
    color: rgb(26, 24, 24);
    font-size: 75px;
    text-align: center;
    background-color:transparent;
    background-size: cover;
    margin-left: 70px;
    margin-right: 20px;
    width: 621px;
    height: 263px
    
}

 h1:hover { 
    color: rgb(220, 113, 20);
  }
/* 
  h1:hover::before {
    color: rgb(220, 113, 20);
  }
  h1:hover::after {
    color: rgb(220, 113, 20);
  } */

#hellocolour {
    color: rgb(220, 113, 20);

  }

img {

    float: right;
    width: 200;
    height: 300px;
    display: flex;
}

#myimage {

    background-image: url(./libs.jpeg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10px;
    margin-right: 150px;
    height: 650px;
}

h5{

    margin-left: 40px;
    font-size: 28px;
    text-decoration: underline;
    color: #d62e11;
}

#socialmediabuttonmain{

    margin-top: 125px;
    margin-left: 120px;
    font-size: 28px;
    background-color: transparent;
    margin-bottom: 20px;
}

.Socialmediabutton {
    /* background-color: transparent; */
    border: transparent;
}

#github {
    width: 34px;
    height: 20px;
    margin-left: 5px;
    margin-right: 3px;
    /* background-color: transparent; */

}

#linkedin {
    width: 20px;
    height: 20px;
    /* background-color: transparent; */
}

#facebook {
    width: 20px;
    height: 20px;
    /* background-color: transparent; */
}

nav {
    background-color:transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90px;
    align-content:center;
    font-size: 18pt;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#navigationsection {

    color:rgba(222, 242, 241, 0.1);
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-left: 800px
    
   
}

nav section {
   margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color:#cbccca;
}

#button {
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    margin-top: 25px;

}

.buttonstyle {
    height: 30px;
    width: 100px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 29px;
    align-content:space-between;
    text-align: center;
    background-color:transparent;
    border: transparent;

}

.buttonstyle1 {
    height: 30px;
    width: 150px;
    font-size: 20px;
     margin-top: 29px;
    flex-wrap: wrap;
    align-content:space-between;
    text-align: center;
    background-color:transparent;
    border: transparent;

}

a:link {
    text-decoration: none;
  }
  
#gotoabout:visited {
    text-decoration: none;
  }

 #ul {
    font-size: 32pt;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #453f3c;
 }

/* content section*/
.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    margin:right 20px;
    float:right; 
}

.search {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #453f3c;
        color: #ffffff;
        margin-left: 20px;
        margin-right: 20px;}
}

.searchpic {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #453f3c;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;}
}
.headertwo {
    max-height: 200px;
    font-size: 36px;
    margin-bottom: 20px
}

#refactor {

    max-width: 400px;
    max-height: 400px;
    float: right;
}
.float-right {
    float: right;
    margin-left: -6px;
    height: 200px;
    width: 200px;
    margin-right: -5px;
}

#refactor:hover { 
    zoom: 1.5;
    margin-right: -20px;
    margin-left: 40px;
    background-color: transparent;
    border: transparent;
  }


/* content sectoin */

footer{

    text-align: center;
    margin-top: 1500px;
    margin-bottom: 20px;
}
 #backtotop {
    font-size: 18pt;
 }

/* ipadpro */
@media screen and (max-width: 1024px) {
  body {
  
  }

  #navigationsection {
    color: rgba(222, 242, 241, 0.1);
    background-color: transparent;
    /* background-size: cover; */
    display: flex;
    /* flex-wrap: wrap; */
    /* float: right; */
    margin-left: 25px;
    width: 900px;
}

.buttonstyle {
    height: 30px;
    width: 155px;
    font-size: 36px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 29px;
    align-content: space-between;
    text-align: center;
    background-color: transparent;
    border: transparent;
}
.buttonstyle1 {
    height: 30px;
    width: 220px;
    font-size: 36px;
    margin-top: 29px;
    margin-left: 23px;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
    background-color: transparent;
    border: transparent;
}

#button {
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    margin-top: 34px;
    margin-left: 69px;
}


  h1 {
    color: rgb(26, 24, 24);
    font-size: 57px;
    text-align: center;
    background-color: transparent;
    background-size: cover;
    margin-left: 4px;
    margin-right: 20px;
    margin-top: 36px;
    width: 367px;
    height: 268px;
    padding-top: 29px;
}

h5 {
    margin-left: 55px;
    font-size: 36px;
    text-decoration: underline;
    color: #d62e11;
    width: 900px;
    height: 18px;
    padding-top: 163px;
}

#socialmediabuttonmain {
    margin-top: 51px;
    margin-left: 374px;
    font-size: 31px;
    background-color: transparent;
}


#myimage {
    background-image: url(./libs.jpeg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 2px;
    margin-right: 150px;
    height: 650px;
}

.search {
    margin-bottom: 20px;
    padding: 50px;
    height: 418px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #453f3c;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

}

/* iphone7/6/8 */
@media screen and (max-width: 400px) { 
body {

}

#output {
        width: 400px;
}

h1 {
        color: rgb(26, 24, 24);
        font-size: 40px;
        background-color: transparent;
        width: 400px;
        height: 150px;
        margin-top: 20px;
        margin-left: 20px;
}

h5 {
        font-size: 16px;
        text-decoration: underline;
        margin-left: 14px;
        width: 400px;
        margin-top: -164px;
 }

#myimage {
        background-image: url(./libs.jpeg);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position-x: 12px;
        background-position-y: 250px;
        margin-right: 10px;
        height: 630px;
        margin-left: 45px;
        width: 400px;
        padding-right: 30px;
    }
    
    nav {
        min-width: 500px;
        margin-left: 5px;
    }
#navigationsection {
    margin-left: 25px;
    min-width: 411px;
    border: 3px black;

}

#button {
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 211px;
}

.buttonstyle {
    height: 30px;
    width: 117px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 29px;
    align-content: space-between;
    text-align: center;
    background-color: transparent;
    border: transparent;
    margin-left: -14px;
}


.buttonstyle1 {
    margin-left: 10px;
    /* height: 30px; */
    width: 127px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 29px;
    /* align-content: space-between; */
    /* text-align: center; */
    background-color: transparent;
    border: transparent;
}

#socialmediabuttonmain {
        margin-top: 125px;
        margin-left: 130px;
        font-size: 100px;
        background-color: transparent;
        /* margin-bottom: 100px; */
        /* height: 325px; */
        /* width: 400px; */
        padding-top: 180px;
}
.Socialmediabutton {
    /* background-color: transparent; */
    border: transparent;
}

#github {
    width: 34px;
    height: 20px;
    margin-left: 5px;
    margin-right: 3px;
    /* background-color: transparent; */

}

#linkedin {
    width: 20px;
    height: 20px;
    /* background-color: transparent; */
}

#facebook {
    width: 20px;
    height: 20px;
    /* background-color: transparent; */
}

.content {
        width: 100%;
        display: inline-block;
        /* margin-left: 20px; */
        display: flex;
        flex-wrap: wrap;
        margin: right 20px;
        float: right;
        margin-top: 20px;
        margin-right: 250px;
    }

    .search {
        margin-bottom: 20px;
        padding: 198px;
        height: 136px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #453f3c;
        color: #ffffff;
        margin-left: 246px;
        margin-right: 20px;
    }

    /* .search1 {
        margin-bottom: 39px;
        padding: 109px;
        /* padding-right: 108px; */
        /* padding-bottom: 115px; */
        /* padding-top: 153px;
        height: 256px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #453f3c;
        color: #ffffff;
        margin-left: 256px; */
    /* } */ 

    #refactorimagecontent {
        width: 400px;
        font-size: 17pt;
       
    }

    #refactor {
        max-width: 400px;
        max-height: 400px;
        float: right;
        margin-top: -144px;
        margin-left: 77px;
    }

    .float-right {
        height: 38px;
        width: 38px;
    }

    H2 {
        margin-top: -133px;
        margin-right: 8px;
        width: 213px;
        font-size: 29px;
        margin-left: -133px;
    }

    p {
        font-size: 17px;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* width: 208%; */
        margin-right: -112px;
        margin-left: -107px;
        width: 313px;
        zoom: 1.25;
        contain: layout;
        /* align-content: flex-start; */
        background-position-x: 37px;
    }
    footer {
        text-align: center;
        margin-top: 1232px;
        margin-bottom: 20px;
    }
 }